.editProduct-container{
background-color: #1a1a2e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editProduct-box{
background-color: #16213e;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}
.editProduct-title{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.editProduct-input{
    width: 100%;
    background-color: #0f3460;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.editProduct-btn{
    width: 100%;
    background-color: #e94560;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}